<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>newpackage.AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>newpackage.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaculty</servlet-name>
        <servlet-class>newpackage.AddFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>newpackage.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudent</servlet-name>
        <servlet-class>newpackage.EditStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>newpackage.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFaculty</servlet-name>
        <servlet-class>newpackage.DeleteFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFaculty</servlet-name>
        <servlet-class>newpackage.EditFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFaculty</servlet-name>
        <servlet-class>newpackage.UpdateFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>newpackage.DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMarks</servlet-name>
        <servlet-class>newpackage.UploadMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fotp</servlet-name>
        <servlet-class>newpackage.Fotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>newpackage.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sotp</servlet-name>
        <servlet-class>newpackage.Sotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordS</servlet-name>
        <servlet-class>newpackage.UpdatePasswordS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeesUpdate</servlet-name>
        <servlet-class>newpackage.FeesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSyllabus</servlet-name>
        <servlet-class>newpackage.AddSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>newpackage.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFees</servlet-name>
        <servlet-class>newpackage.DeleteFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMarks</servlet-name>
        <servlet-class>newpackage.DeleteMarks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaculty</servlet-name>
        <url-pattern>/AddFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudent</servlet-name>
        <url-pattern>/EditStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFaculty</servlet-name>
        <url-pattern>/DeleteFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFaculty</servlet-name>
        <url-pattern>/EditFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFaculty</servlet-name>
        <url-pattern>/UpdateFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/DeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMarks</servlet-name>
        <url-pattern>/UploadMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fotp</servlet-name>
        <url-pattern>/Fotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sotp</servlet-name>
        <url-pattern>/Sotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordS</servlet-name>
        <url-pattern>/UpdatePasswordS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeesUpdate</servlet-name>
        <url-pattern>/FeesUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSyllabus</servlet-name>
        <url-pattern>/AddSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFees</servlet-name>
        <url-pattern>/DeleteFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMarks</servlet-name>
        <url-pattern>/DeleteMarks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
